:root {
  --main-color: #ff9800;
}
body {
  font-family: 'Merienda', cursive;
}

.container {
  width: 1090px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}
/* Start Settings Box */
.settings-box {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -200px;
  width: 200px;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  font-family: 'Open Sans';
}

.settings-box.opened {
  left: 0;
}

.settings-box .gear-icon {
  position: absolute;
  top: 100px;
  left: 200px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.settings-box .options-box {
  padding: 20px;
  text-align: center;
  margin: 5px;
  background-color: #d3d3d4;
  border-radius: 10px;
}
.settings-box .options-box h4 {
  margin: 10px 0;
  font-size: 14px;
}

.settings-box .options-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
}

.settings-box .options-box .colors-list li {
  background-color: #444;
  width: 20px;
  height: 20px;
  display: inline-block;
  opacity: 0.5;
  border: solid 2px #d3d3d4;
  cursor: pointer;
}

.settings-box .options-box .colors-list li.active {
  opacity: 1;
  border-color: #fff;
}

.settings-box .options-box .colors-list li:first-child {
  background-color: #3f51b5;
}

.settings-box .options-box .colors-list li:nth-child(2) {
  background-color: #e91e63;
}
.settings-box .options-box .colors-list li:nth-child(3) {
  background-color: #4caf50;
}
.settings-box .options-box .colors-list li:nth-child(4) {
  background-color: #ff9800;
}
.settings-box .options-box .colors-list li:nth-child(5) {
  background-color: #f44336;
}
.settings-box .options-box .colors-list li:nth-child(6) {
  background-color: #1ae7ee;
}

.settings-box .random-background .btn {
  background-color: var(--main-color);
  padding: 2px 13px;
  font-size: 14px;
  color: #fff;
  opacity: 0.4;
  cursor: pointer;
  transition: 0.3s;
}

.settings-box .random-background .btn.active,
.settings-box .random-background .btn:hover {
  opacity: 1;
}

/* End Settings Box */
/* Start Landing page */
.landing-page {
  min-height: 100vh;
  background-image: url('../images/3.jpeg');
  background-size: cover;
  color: #fff;
  position: relative;
  transition: 0.4s;
  /* z-index: 2; */
}

.landing-page .overlay {
  background-color: rgba(51, 51, 51, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.landing-page .header-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  padding: 20px;
}

.landing-page .header-area .logo {
  width: 300px;
  font-size: 22px;
}

.landing-page .header-area .header-links {
  display: flex;
  justify-content: space-evenly;
}

.landing-page .header-area .header-links > li {
  margin-left: 10px;
  cursor: pointer;
}

.landing-page .header-area .header-links > li a {
  text-decoration: none;
  color: #fff;
}

.landing-page .header-area .header-links > li a:hover,
.landing-page .header-area .header-links > li a.active {
  color: var(--mai-color);
  transition: 0.3s;
}

.landing-page .intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 77vh;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.landing-page .intro-text h1 {
  margin-bottom: 10px;
}

.landing-page .intro-text h1 span {
  color: var(--main-color);
}

/* End Landing page */

/* Start About Us */
.about-us {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.about-us .about-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-us .about-text h2 {
  color: var(--main-color);
  margin-bottom: 10px;
}

.about-us .about-text p {
  line-height: 1.8;
}
.about-us .about-img {
  flex: 1;
}

.about-us .about-img img {
  margin: 10px auto;
}
/* End About Us */
